body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #918d83;
    background: #f8f8ff;
}

.logo{
    margin: 0px auto;
    width: 960px;
    display: inline-block;
    background-color: white;
    text-align: center;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    color: #786e54;
    font-size: 60pt;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    color: #786e54;
    font-size: 40pt;
}

main {
    padding: 10px;
    margin: 5px;
}


#intro {
    font-size: 20px;
}

.hours {
    display: inline-block;
    width: 300px;
    height: 700px;
    float: left;
}

.location{
    display: inline-block;
    width: 500px;
    height: 400px;
}

ul {
    margin: 10px auto 20px auto;
}

li {
    display: inline-block;
    width: 100px;
    background-color: #786e54;
    font-size: 16px;
    color: #3D4849;
    padding: 7px;
    margin: 5px;
    text-align: center;
    border-radius: 1em;
}

a:visited {
    color: white;
}

a:active {
    background-color: #31270D;
}
/* why is this not work?! */
                
table{
    font-family: Verdana, Geneva,
     Tahoma, sans-serif;
    color: #3D4849;
    width: 800px;
    margin: auto;
}

th, td{
    padding: 10px;
    border: 1px solid #918d83;
}


th  {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

td {
    text-align: center;
}

form, #formTitle {
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: auto;
    color: darkolivegreen;
}

input, label {
    padding: 10px;
    color: darkolivegreen;
}

.storeName {
    display: inline-block;
}
.minCustomers {
    display: inline-block;
}
.maxCustomers {
    display: inline-block;
}
.avg {
    display: inline-block;
}
